/* Jai Mata Di 🙏 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
  --primary-color: #1A1A2E; 
  --secondary-color: #16213E;
  --background-gradient: linear-gradient(135deg, #0F3460, #2b3d70); 

  --text-color: #E94560;
  --highlight-color: #FFFFFF;
  --footer-gradient: linear-gradient(135deg, #2c3f71, #090923);
  --link-hover-gradient: linear-gradient(90deg, #A9E0F5, #E94560);
  --button-gradient: linear-gradient(45deg, #E94560, #A9E0F5);
}


/* progress bar start */
#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    width: 0;

    background-color: #E94560;
    z-index: 1000;
    transition: width 0.2s ease;
}
/* body style section  */
body {
    margin: 0;
    padding: 0;
    /* font-family: 'Helvetica Neue', Arial, sans-serif; */
    font-family: 'Roboto', sans-serif;
    background: var(--background-gradient);
    color: var(--highlight-color);

    line-height: 1.63;
}
/* body section ends */

/* navigation section start */
.navbar {
    margin-top: 20px;
    
    padding: 22px;
    background: var(--primary-color);
    color: var(--highlight-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.nav-links {
    display: flex;
}

.nav-links li {
    margin: 0 16px;
}

.nav-links a {
    padding: 5.3px 11px;

    position: relative;
    color: #E94560;

    text-decoration: none;
    overflow: hidden;
    z-index: 1;

    border-radius: 9px;
    border: 2px solid transparent;

    transition: border-radius 0.3s ease, border 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover {
    color: #FFFFFF;

    border: 2px solid #E94560;
    border-radius: 20px;
}
/* navigation section ends */

/* Home section statts */
.home-section {
  height: 820px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  background: linear-gradient(135deg, #16213E, #0F3460);
  color: var(--highlight-color);
}

.home-section h2 {
  font-size: 43px;
  margin-bottom: 15px;
  text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.7);
}
/*  home section ends */

/* event starts */
.events-section {
  padding: 60px 35px;

  background-color: var(--primary-color);
  color: white;
}

.events-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.event-card {

  padding: 20px;
  width: 300px;

  background: rgb(49, 40, 53);
  /* color: var(--text-color); */
  color: #FFFFFF;
  border-radius: 10px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;

  transition: transform 0.3s, box-shadow 0.3s;
  
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.event-card h3 {
  margin: 0 0 10px;
}

.event-card p {
  margin: 0;
}
/* events ends */



.about-section, .events-section, .highlights-section, .contact-section {
    padding: 65px 30px;
    margin: 30px auto;

    width: 100%;
    max-width: 1250px;

    background: var(--footer-gradient);
    color: var(--highlight-color);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.about-section h2, .events-section h2, .highlights-section h2, .contact-section h2 {
    
    color: var(--text-color);

    text-align: center;
    margin-bottom: 2rem;
}

.gallery-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.highlights-section img {
    margin: 10px;
    border-radius: 10px;

    max-width: 300px;
    border: 5px solid var(--primary-color);


    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.highlights-section img:hover {
  transform: scale(1.13);
  border-color: var(--link-hover-gradient);
  box-shadow: 0px 4px 15px rgba(233, 69, 96, 0.7);
}

.contact-section {
  text-align: center;
  background: linear-gradient(to right, #16213E, #0F3460);
  color: var(--highlight-color);
}

.contact-section a {
  color: var(--text-color);
  transition: color 0.3s, text-shadow 0.3s;
}

.contact-section a:hover {
  text-shadow: 0px 0px 8px var(--text-color);
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

.social-links a {
  margin: 0 10px;

  display: inline-block;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  background: var(--button-gradient);
  text-align: center;
  line-height: 40px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-links a:hover {
  transform: scale(1.2);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.social-links img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

/* my footer got a lot of styles, so I'll just show you the most important ones */
footer {
    padding: 15px;

    text-align: center;
    background: var(--footer-gradient);
    color: var(--highlight-color);
    border-top: 2px solid #0F3460;
}


/* 🙏 */